<%= form_for(@user) do |form|%>
  <div>
    <%=form.label :name %>
    <%=form.text_field :name%>
  </div>
  <div>
    <%=form.label :email %>
    <%=form.text_field :email %>
  </div>
  <div>
    <%= form.file_field :avatar %>
  </div>
  <div>
    <%= form.check_box :artist %>
    Are you an artist?
  </div>
<%= form.submit%>
<% end %>
